<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amita.createType.ex.commision.dao.CommisionDAO">
	<insert id="insertCommisionPost" parameterType="map">
			INSERT INTO
				`commisionPost`
			(
				`userId`
				,`channelId`
				,`title`
				,`content`
				,`category`
				,`minimumPrice`
				,`maximumPrice`
				,`deadline`
				,`question`
				,`thumbnail`
				,`createdAt`
				,`updatedAt`
			)
			VALUES
			(
				#{userId}
				,#{channelId}
				,#{title}
				,#{content}
				,#{category}
				,#{minimumPrice}
				,#{maximumPrice}
				,#{deadline}
				,#{question}
				,#{thumbnail}
				,now()
				,now()
			)
	
	</insert>
	
	<select id="selectCommisionCategory" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`category` = #{category}
		ORDER BY
			`id` DESC
	</select>
	
	<select id="selectCommisionPostInfoByPostId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectCommisionPost" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`channelId` = #{channelId}
		ORDER BY
			`id`DESC
		LIMIT 3
	
	</select>
	
	<select id="selectCommisionPostInfoByUserId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectsCommisionPostsInfosByUserId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` DESC
	</select>
	
	<select id="selectCountPosts" parameterType="int" resultType="int">
		SELECT
  			count(1)
  		FROM
  			`commisionPost`
  		WHERE
  			`userId` = #{userId}
	</select>
	
	<insert id="insertCommisionProposal" parameterType="map">
		INSERT INTO
			`commisionProposal`
		(
			`userId`
			,`commisionPostId`
			,`postUserId`
			,`content`
			,`processing`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{commisionPostId}
			, #{postUserId}
			, #{content}
			, #{processing}
			, now()
			, now()
		)
		
	
	</insert>
	
	<select id="selectPostInfoByCommisionPostId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionPost">
		SELECT
			`id`
			,`userId`
			,`channelId`
			,`title`
			,`content`
			,`category`
			,`minimumPrice`
			,`maximumPrice`
			,`deadline`
			,`question`
			,`thumbnail`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionPost`
		WHERE
			`id` = #{id}
	
	</select>
	
	<select id="selectCommisionProposalList" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionProposal">
		SELECT
			`id`
			,`userId`
			,`commisionPostId`
			,`postUserId`
			,`content`
			,`processing`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionProposal`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` DESC
		
	</select>
	
	<select id="selectCommisionPostInfoByCommisionProposalId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionProposal">
		SELECT
			`id`
			,`userId`
			,`commisionPostId`
			,`postUserId`
			,`content`
			,`processing`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionProposal`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectCommisionProposalListByUserId" parameterType="int" resultType="com.amita.createType.ex.commision.model.CommisionProposal">
		SELECT
			`id`
			,`userId`
			,`commisionPostId`
			,`postUserId`
			,`content`
			,`processing`
			,`createdAt`
			,`updatedAt`
		FROM
			`commisionProposal`
		WHERE
			`postUserId` = #{postUserId}
		ORDER BY
			`id` DESC
	</select>
	
	<update id="updateCommisionProposalProcessingColumn" parameterType="map">
		UPDATE
			`commisionProposal`
		SET
			`processing` = #{processing}
		WHERE
			`id` = #{id}
	</update>
	
	<update id="updatePost" parameterType="map">
		update
			`commisionPost`
		SET
			`title` = #{title}
			, `content` = #{content}
			, `category` = #{category}
			, `minimumPrice` = #{minimumPrice}
			, `maximumPrice` = #{maximumPrice}
			, `deadline` = #{deadline}
			, `question` = #{question}
			, `thumbnail` = #{thumbnail}
			, `updatedAt` = now()
		WHERE
			`userId` = #{userId}
			AND `id` = ${commisionPostId}
			
	</update>
	
	<delete id="deleteCommisionPost" parameterType="map">
		DELETE FROM
			`commisionPost`
		WHERE
			`userId` = #{userId}
			AND `id` = #{id}
	</delete>
	
	


	

</mapper>
