<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.amita.createType.ex.individual.point.dao.PointDAO">
  	<insert id="insertPointCharge" parameterType="map">
  		INSERT INTO
  			`point`
  		(
  			`userId`
  			,`methodOfPayment`
  			,`price`
  			,`postId`
  			,`channelId`
  			,`createdAt`
  			,`updatedAt`
  		)
  		VALUES
  		(
  			#{userId}
  			,#{methodOfPayment}
  			,#{price}
  			,0
  			,0
  			,now()
  			,now()
  		)
  	
  	</insert>
  	
  	<select id="selectPointByUserId" parameterType="int" resultType="int">
  		SELECT
  			sum(price)
  		FROM
  			`point`
  		WHERE
  			`userId` = ${userId} 
  	
  	</select>
  	
  	<select id="selectPurchaseListByUserId" parameterType="int" resultType="com.amita.createType.ex.individual.point.model.Point">
  		SELECT
  			`id`
  			,`userId`
  			,`methodOfPayment`
  			,`price`
  			,`postId`
  			,`channelId`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`point`
  		WHERE
  			(`userId` = #{userId} AND `methodOfPayment` = '구매')
  			OR (`userId` = #{userId} AND `methodOfPayment` = '후원')
  		ORDER BY
  			`id` DESC
  	</select>
  	
  	<select id="selectRevenueListByChannelId" parameterType="int" resultType="com.amita.createType.ex.individual.point.model.Point">
  		SELECT
  			`id`
  			,`userId`
  			,`methodOfPayment`
  			,`price`
  			,`postId`
  			,`channelId`
  			,`createdAt`
  			,`updatedAt`
  		FROM
  			`point`
  		WHERE
  			`channelId` = #{channelId}
  	</select>
  	
  	<select id="selectRevenueByChannelId" parameterType="int" resultType="int">
  		SELECT
  			sum(price)
  		FROM
  			`point`
  		WHERE
  			`channelId` = #{channelId}
  	</select>
  	
  	<insert id="insertPointWithdraw" parameterType="map">
  		INSERT INTO
  			`point`
  		(
  			`userId`
  			,`methodOfPayment`
  			,`price`
  			,`postId`
  			,`channelId`
  			,`createdAt`
  			,`updatedAt`
  		)
  		VALUES
  		(
  			#{userId}
  			,#{methodOfPayment}
  			,#{price}
  			,0
  			,#{channelId}
  			,now()
  			,now()
  		)
  	</insert>
  	
  
  </mapper>
