<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amita.createType.ex.post.viewCount.dao.ViewCountDAO">
	<insert id="insertViewCount" parameterType="map">
		INSERT INTO
			`viewCount`
		(
			`postId`
			,`createdAt`
		)
		VALUES
		(
			#{postId}
			, now()
		)
	
	</insert>
	
	<select id="selectViewCount" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`viewCount`
		WHERE 
			`postId` = #{postId}
	
	</select>
	
	<delete id="deleteViewCountByPostId" parameterType="int">
		DELETE FROM
			`viewCount`
		WHERE
			`postId` = #{postId}
	</delete>
	

</mapper>
