@charset "UTF-8";

nav {
	width:150px;
	
}

.box1 {
      width: 350px;
      height: 350px;
    }

.logo {
	color:deepskyblue;
}

.searchLoginSignupBox{
	height:45px;
}

.a {
  text-decoration: none;
}

